In [1]:
import pandas as pd
import statsmodels.formula.api as sm

In [4]:
cd D:\Darvin\python training

D:\Darvin\python training

In [10]:
df = pd.read_csv('cars.csv')
df.head(2)

           Cars   mpg  cyl   disp   hp  drat  Feedback
0      MazdaRX4  21.0    6  160.0  110   3.9         1
1  MazdaRX4_WAG  21.0    6  160.0  110   3.9         0

In [6]:
y = df['Feedback']
x = df[['mpg','hp','cyl']]
y

0     1
1     0
2     1
3     1
4     1
5     1
6     0
7     0
8     1
9     0
10    0
11    0
12    1
13    1
14    1
15    0
16    1
17    1
18    0
19    0
20    0
Name: Feedback, dtype: int64

In [11]:
y = df['Feedback']
x = df[['mpg','hp', 'cyl']]
x

     mpg   hp  cyl
0   21.0  110    6
1   21.0  110    6
2   22.8   93    4
3   21.4  110    6
4   18.7  175    8
5   18.1  105    6
6   14.3  245    8
7   24.4   62    4
8   22.8   95    4
9   19.2  123    6
10  17.8  123    6
11  16.4  180    8
12  17.3  180    8
13  15.2  180    8
14  10.4  205    8
15  10.4  215    8
16  14.7  230    8
17  32.4   66    4
18  30.4   52    4
19  33.9   65    4
20  21.5   97    4

In [18]:
model = sm.Logit(y,x)
result = model.fit()

Optimization terminated successfully.
         Current function value: 0.675937
         Iterations 4

In [19]:
result.summary()

<class 'statsmodels.iolib.summary.Summary'>
"""
                           Logit Regression Results
==============================================================================
Dep. Variable:               Feedback   No. Observations:                   21
Model:                          Logit   Df Residuals:                       18
Method:                           MLE   Df Model:                            2
Date:                Tue, 02 Jun 2020   Pseudo R-squ.:                 0.02323
Time:                        12:39:15   Log-Likelihood:                -14.195
converged:                       True   LL-Null:                       -14.532
Covariance Type:            nonrobust   LLR p-value:                    0.7135
==============================================================================
                 coef    std err          z      P>|z|      [0.025      0.975]
------------------------------------------------------------------------------
mpg           -0.0400      0.055     -0.734      0.463      -0.147       0.067
hp            -0.0101      0.022     -0.461      0.645      -0.053       0.033
cyl            0.3723      0.615      0.605      0.545      -0.834       1.578
==============================================================================
"""

In [17]:
import statsmodels.api as sm
logit_model=sm.Logit(y,x)
result=logit_model.fit()
print(result.summary2())

Optimization terminated successfully.
         Current function value: 0.675937
         Iterations 4
                        Results: Logit
==============================================================
Model:              Logit            Pseudo R-squared: 0.023
Dependent Variable: Feedback         AIC:              34.3893
Date:               2020-06-02 12:38 BIC:              37.5229
No. Observations:   21               Log-Likelihood:   -14.195
Df Model:           2                LL-Null:          -14.532
Df Residuals:       18               LLR p-value:      0.71348
Converged:          1.0000           Scale:            1.0000
No. Iterations:     4.0000
----------------------------------------------------------------
         Coef.    Std.Err.      z      P>|z|     [0.025   0.975]
----------------------------------------------------------------
mpg     -0.0400     0.0545   -0.7336   0.4632   -0.1468   0.0668
hp      -0.0101     0.0218   -0.4612   0.6447   -0.0529   0.0327
cyl      0.3723     0.6153    0.6052   0.5451   -0.8336   1.5783
==============================================================